<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="forgotPassword()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Submit</ion-button>
  </form>

  <!-- Display the password if it's retrieved -->
  <ion-item *ngIf="password">
    <ion-label>
      Your password is: <strong>{{ password }}</strong>
    </ion-label>
  </ion-item>
</ion-content>
